.movieListItem {
  list-style: none;
  border: 1px solid lightgray;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 10%);
}
